# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.swp
.vscode/*

# Test input files
testinput-*
test_input*

# Output files
enhanceddnc-output.txt
testoutput-*
test_output*
